@import "vars";
@import "fonts";

html,body{
    font-family:Lato,sans-serif;
}
input,textarea,select{
    box-sizing:border-box;
}
.itm{
    margin:0.1rem;
    padding:0.5rem;
    background-color:lightgoldenrodyellow;
    display:flex;
    flex-direction:column;
    align-items: flex-start !important;
    color:red;
}
.itm>.hdr,.itm>.content,.itm>.interactivePanel{
    padding:0.5rem 1rem;
}
.itm>.hdr{
    font-size:1.5rem;
    font-weight:bold;
}
.itm>.interactivePanel{
    display:grid;
    grid-template-columns:repeat(5,auto) 1fr;
    grid-column-gap: 0.5rem;
}

.likeEmpty,.likeFull{
    color:red;
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    cursor:pointer;
}
.likeEmpty{
    background-image:url(../images/likeEmpty.png);
}
.likeFull{
    background-image:url(../images/likeFull.png);
}
.likeBtn{
    display:flex;
    border:1px solid black;
    align-items:center;
}
.likeBtn>.caption{
    margin-right:0.2rem;
}
.itemsList .interactivePanel .btnElmWrapper{
    margin:0 0.1rem 0 0 !important;
}
.inputItm,.innerScrnHdr,.btn{
    margin:0.5em auto;
    line-height:1.5;
    padding:0.5rem;
}
.inputItm{
    text-align:left;
}
.innerScrnHdr,.btn{
    text-align:center;
}
/* about page classes - start */
.aboutPg{
    padding:0.5rem;
    line-height:1.5rem;
}
.aboutPg .backBtn{
    margin:1rem 0;
}
/* about page classes - end */


/*  helper classes - start */
.fontBig{
    font-size:5rem;
}
/*helper classes - end */

@media screen and (min-width:760px){
    #eRoot{
        max-width:50rem;
        margin:auto;
    }
    .appLogo{
        font-size:3rem;
        font-weight:bold;
        flex-grow:1;
    }
    .appHdr{
        display:flex;
        align-items:center;
    }
}
@media screen and (max-width:760px){
    .appLogo{
        font-size:2rem;
        font-weight:bold;
    }
}