@import "vars";
@import "fonts";

html,body{
    font-family:Courier, 'Courier New', monospace;
    line-height:1.5;
    width:100%;
    height:100%;
    margin:0rem !important;
}
input,textarea,select{
    box-sizing:border-box;
    background:white;
}
#eAllWrapper{
    height:100%;
    display:flex;
    flex-direction:column;
}
#eRoot{
    height:100%;
    margin:0 0.3rem;
}
.main{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}
.appHdr .menu{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    position:relative;
}
.appHdr .menu .greetings{
    flex-grow:1;
}
#eProfileMenuWrapper{
/*    margin-top:0.5rem;*/
/*    position:absolute;*/
/*    top:0;*/
 /*   left:0;*/
    z-index:1000;
    display:inline-block;
    cursor:pointer;
    position:relative;
    justify-self:end;
}
#eProfileMenuBtn{
    padding:0 1.5rem 0 0;
    background-image:url(../images/open_icon.png);
    background-repeat:no-repeat;
    background-position:center right;
}
#eProfileMenu{
    background-color:white;
    border:1px solid  rgba(0,0,0,0.1);
    list-style-type:none;
    margin:0.2rem 0;
    text-align:center;
    padding:0;
    width:100%;
    position:absolute;
}
#eProfileMenu .itm{
    padding:1rem 0;
    border-bottom:1px solid;
    margin:0 0.4rem;
    white-space:nowrap;
}
#eProfileMenu .itm:last-child{
    border-bottom:0;
}
.ctgCaption{
    margin:1rem 0.5rem 0.5rem 0.5rem;
    font-size:1.2rem;
}
.itemsList :first-child .ctgCaption{
    margin-top:0.5rem !important;
}
.itemsList .itm{
    margin:0.1rem;
    padding:0.5rem;
    background-color:yellow;
    display:flex;
    flex-direction:column;
    align-items: flex-start !important;
    color:red;
}
.itemsList .itm>.hdr,.itemsList .itm>.content,.itemsList .itm>.interactivePanel{
    padding:0.5rem 1rem;
}
.itemsList .itm>.content{
    text-align:justify
}
.itemsList .itm>.hdr{
    font-size:1.5rem;
    font-weight:bold;
}
.itemsList .itm>.interactivePanel{
    display:grid;
    grid-column-gap: 0.5rem;
}
.itemsList .itm>.interactivePanel>.action{
    color:red;
    border:1px solid black;
}
.itemsList .itm>.interactivePanel>.action:disabled{
    background:#ddd;
    color:#000;
}
.likeEmpty,.likeFull{
    color:red;
    background-repeat:no-repeat;
    width:32px;
    height:32px;
    cursor:pointer;
}
.likeEmpty{
    background-image:url(../images/likeEmpty.png);
}
.likeFull{
    background-image:url(../images/likeFull.png);
}
.likeBtn{
    display:flex;
    border:1px solid black;
    align-items:center;
}
.likeBtn>.caption{
    margin-right:0.2rem;
}
.itemsList .interactivePanel .btnElmWrapper{
    margin:0 0.1rem 0 0 !important;
}
.menu .btnElmWrapper{
    margin-left:auto !important;
}
.menu .btnElmWrapper ~ .btnElmWrapper{
    margin-left:0.5rem !important;
}
.homeBtnWrapper{
    margin-top:auto;
    text-align:right;
    align-self:flex-end;
    width:auto !important;
}
.inputItm,.innerScrnHdr,.btn{
    margin:0.5em auto;
    line-height:1.5;
    padding:0.5rem;
}
.inputItm{
    text-align:left;
}
.innerScrnHdr,.btn{
    text-align:center;
}
/* about page classes - start */
.aboutPg{
    line-height:1.5rem;
    padding:0 0.5rem;
    text-align:justify;
}
.aboutPg .backBtn{
    margin:1rem 0;
}
/* about page classes - end */

/* manageitm pg - start */
#eDescriptionItm{
    flex-grow:1;
}
/* manageitm pg - end */


/*  helper classes - start */
.fontBig{
    font-size:5rem;
}
.hideMe{
    display:none;
}
/*helper classes - end */

@media screen and (min-width:760px){
    #eRoot{
        max-width:50rem;
        margin:auto;
    }
    .appLogo{
        font-size:3rem;
        font-weight:bold;
    }
    #eLoginPg>*,#eRegisterPg>*{
        width:20rem;
    }
    #eItmPg>*{
        width:90%;
    }
    .itemsList .itm>.interactivePanel{
        grid-template-columns:repeat(5,auto);
    }
}
@media screen and (max-width:760px){
    .appLogo{
        font-size:2rem;
        font-weight:bold;
    }
    #eLoginPg>*,#eRegisterPg>*{
        width:20rem;
    }
    #eItmPg>*{
        width:90%;
    }
    .itemsList .itm>.interactivePanel{
        grid-template-columns:repeat(5,auto);
    }
}
@media screen and (max-width:480px){
   .appLogo{
        font-size:1.7rem;
        font-weight:bold;
    }
    #eItmPg>*,#eLoginPg>*,#eRegisterPg>*{
        width:90%;
    }
    .itemsList .itm>.interactivePanel{
        grid-template-columns:repeat(4,auto);
        grid-row-gap:0.5rem;    
    }
    .itemsList .itm>.interactivePanel>.action{
        padding:0.5rem;
    }
}